nav .nav-wrapper .brand-logo {
  display: inline-block;
  height: 100%;
}

nav .nav-wrapper .brand-logo>img {
  vertical-align: middle;
  height: 40px;
}

nav .nav-wrapper ul li ul li a:hover {
  color: black;
  background-color: white;
}
