.primary {
  background-color: #802020;
}

.secondary {
  background-color: #404040;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.layout-inner {
  flex: 1 0 auto;
  padding-top: 2rem;
}

.maxwidth {
  margin-right: auto;
  margin-left: auto;
  max-width: 1346px;
}

nav.maxwidth {
  padding-left: 10px;
  padding-right: 10px;
}

.page-footer {
  padding-top: 0;
}

.footer {
  padding-top: 20px;
}

.blog {
  padding: 10px;
}

.widget {
  padding: 0px;
}

.widget-header {
  padding: 5px 10px 5px 10px;
}

.widget-body {
  padding: 5px 10px 5px 10px;
}

.main-wrapper,
.aside-wrapper {
  padding: 0 10px 0 10px;
}

.main-wrapper,
.aside-wrapper {
  margin-bottom: 20px;
}

@media only screen and (min-width: 601px) {
  .main-wrapper {
    margin-right: 10px;
  }
  .aside-wrapper {
    margin-left: 10px;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 601px) {
  .flex .main,
  .flex .aside {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .flex .blog,
  .flex .main-wrapper {
    height: 100%;
  }
}

nav .nav-wrapper .brand-logo {
  display: inline-block;
  height: 100%;
}

nav .nav-wrapper .brand-logo > img {
  vertical-align: middle;
  height: 40px;
  padding-bottom: 8px;
}

body {
  background-image: url("../images/light-grey-terrazzo.png");
}

ul.panel-list li:hover {
  background: #fff176;
}

ul.panel-list {
  padding: 0px;
}

ul.panel-list {
  padding-left: 0;
  list-style: none;
  font-size: 13px;
  margin-left: 20px;
}

ul.panel-list li:before {
  font-family: "Material Icons";
  content: '\e91c';
  color: #9e9e9e;
  margin: 0 5px 0 -12px;
}

ul.panel-list li:hover:before {
  color: #ffeb3b;
}
