
// gap main and aside

.blog {
  padding: 10px;
}

.widget {
  padding: 10px;
}

// decoration

.main-wrapper,
.aside-wrapper {
  padding: 0 10px 0 10px;
}

// responsive

.main-wrapper,
.aside-wrapper {
  margin-bottom: 20px;
}

@media #{$medium-and-up} {
  .main-wrapper {
    margin-right: 10px;
  }
  .aside-wrapper {
    margin-left: 10px;
  }
}
