// 1. Colors
// =====================================================================

$brand-red:  #802020;
$brand-gray: #404040;

$primary-color: $brand-red;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: $brand-gray;

.primary {
  background-color: $brand-red;
}

.secondary {
  background-color: $brand-gray;
}


// 12. Grid
// =====================================================================

$gutter-width: 0rem;

// 11. Global
// =====================================================================

// Media Query Ranges
$small-screen-up: 601px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
