// -- -- -- -- --
// _list.scss

ul.panel-list li:hover {
    background: color("yellow", "lighten-2");
}

ul.panel-list {
  padding: 0px;
}

ul.panel-list {
  padding-left: 0;
  list-style: none;
  font-size: 13px;
  margin-left: 20px;
}

// https://github.com/google/material-design-icons/blob/master/iconfont/codepoints

ul.panel-list li:before {
  font-family: "Material Icons";
  //font-weight: 900;
  content: '\e91c'; // chevron right
  color: color("grey", "base");
  margin: 0 5px 0 -12px;
}

ul.panel-list li:hover:before {
  color: color("yellow", "base");
}
