// 1. Colors
// =====================================================================

$brand-red:  #802020;
$brand-gray: #404040;

$primary-color: $brand-red;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: $brand-gray;
