@charset "UTF-8";
.primary {
  background-color: #802020;
}

.secondary {
  background-color: #404040;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.layout-inner {
  flex: 1 0 auto;
  padding-top: 2rem;
}

.maxwidth {
  margin-right: auto;
  margin-left: auto;
  max-width: 1346px;
}

nav.maxwidth {
  padding-left: 10px;
  padding-right: 10px;
}

.page-footer {
  padding-top: 0;
}

.footer {
  padding-top: 20px;
}

.blog {
  padding: 0px;
}

.blog-header {
  padding: 5px 10px 5px 10px;
}

.blog-body {
  padding: 5px 10px 5px 10px;
}

.widget {
  padding: 0px;
}

.widget-header {
  padding: 5px 10px 5px 10px;
}

.widget-body {
  padding: 5px 10px 5px 10px;
}

.index-wrapper,
.main-wrapper,
.aside-wrapper {
  padding: 0 10px 0 10px;
}

.main-wrapper,
.aside-wrapper {
  margin-bottom: 20px;
}

@media only screen and (min-width : 601px) {
  .main-wrapper {
    margin-right: 10px;
  }

  .aside-wrapper {
    margin-left: 10px;
  }
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width : 601px) {
  .flex .blog,
.flex .main-wrapper {
    height: 100%;
  }
}
nav .nav-wrapper .brand-logo {
  display: inline-block;
  height: 100%;
}

nav .nav-wrapper .brand-logo > img {
  vertical-align: middle;
  height: 40px;
  padding-bottom: 8px;
}

body {
  background-image: url("../images/light-grey-terrazzo.png");
}

a {
  color: #607d8b;
}

/*
a.btn {
  margin-bottom: 5px;
}
*/
ul.panel-list li:hover {
  background: #fff176;
}

ul.panel-list {
  padding: 0px;
}

ul.panel-list {
  padding-left: 0;
  list-style: none;
  font-size: 13px;
  margin-left: 20px;
}

ul.panel-list li:before {
  font-family: "Material Icons";
  content: "";
  color: #9e9e9e;
  margin: 0 5px 0 -12px;
}

ul.panel-list li:hover:before {
  color: #ffeb3b;
}

.blog-post-title a {
  color: #424242;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
}

.m-5 {
  margin: 5px !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.p-5 {
  padding: 5px !important;
}

.p-t-5 {
  padding-top: 5px !important;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.p-l-5 {
  padding-left: 5px !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.m-15 {
  margin: 15px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.m-r-15 {
  margin-right: 15px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-t-15 {
  padding-top: 15px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.p-l-15 {
  padding-left: 15px !important;
}

.p-r-15 {
  padding-right: 15px !important;
}

.m-20 {
  margin: 20px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.m-25 {
  margin: 25px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.m-l-25 {
  margin-left: 25px !important;
}

.m-r-25 {
  margin-right: 25px !important;
}

.p-25 {
  padding: 25px !important;
}

.p-t-25 {
  padding-top: 25px !important;
}

.p-b-25 {
  padding-bottom: 25px !important;
}

.p-l-25 {
  padding-left: 25px !important;
}

.p-r-25 {
  padding-right: 25px !important;
}

/*# sourceMappingURL=main.css.map */
